
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Zipcode</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/cover.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
<!--
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Zipcode</h3>
            </div>
          </div> -->

          <div class="inner cover">
            {{{body}}}
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p><a href="https://zipcode-retsly.herokuapp.com/">Zipcode</a>, by <a href="https://twitter.com/clothiersphere">@clothiersphere</a>, <a href="https://twitter.com/jcummins">@jcummins</a>, <a href="https://twitter.com/jzila">@jzila</a>, <a href="https://twitter.com/krishna_achanta">@krishna_achanta</a>, <a href="https://twitter.com/teck9000">@teck9000</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
